.about-us {
  position: relative;
}

.about-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -6px;
  left: 0;
  background-image: url("../img/zigzag-line.svg");

  @media (min-width: $tablet-width) {
    background-image: url("../img/zigzag-line-tablet.svg");
    bottom: -85px;
    height: 17px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/zigzag-line-desktop.svg");
    bottom: -100px;
    height: 23px;
  }
}

.about-us__wrapper {
  padding: 37px 30px 58px;
  margin: 0 auto;
  max-width: 450px;

  @media (min-width: $tablet-width) {
    max-width: 1149px;
    padding: 55px 50px 83px;
  }

  @media (min-width: $desktop-width) {
    max-width: max-content;
    padding: 68px 225px 90px;
    min-width: 1150px;
    box-sizing: border-box;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.about-us__item {
  @media (min-width: $tablet-width) {
    max-width: 295px;
    grid-column: 2/3;
  }
}

.about-us__item--column-left {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.about-us__item:nth-child(4) {
  @media (min-width: $tablet-width) {
    grid-row: 1/2;
  }
}

.about-us__item:nth-child(5) {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
  }
}

.about-us__item:nth-child(6) {
  @media (min-width: $tablet-width) {
    grid-row: 3/4;
  }
}

.about-us__item:nth-child(n+6) {
  @media (min-width: $tablet-width) {
    grid-row: auto;
  }
}

.about-us__item-icon-wrapper {
  height: 83px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 98px;
  }
}

.about-us__item-icon-wrapper--secondary {
  @media (min-width: $tablet-width) {
    height: 110px;
  }
}

.about-us__item-title {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-us__icon {
  position: absolute;
}

.about-us__icon--flower {
  top: 28px;
  left: 8px;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 8px;
  }
}

.about-us__icon--money {
  top: 30px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: 0;
  }
}

.about-us__icon--like {
  top: 34px;
  left: 7px;

  @media (min-width: $tablet-width) {
    top: 62px;
    left: 8px;
  }
}

.about-us__icon--clew {
  top: 31px;
  left: 2px;

  @media (min-width: $tablet-width) {
    top: 45px;
    left: 2px;
  }
}

.about-us__icon--rocket {
  top: 32px;
  left: -6px;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: -6px;
  }
}

.about-us__icon--present {
  top: 32px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 58px;
    left: 3px;
  }
}
