.intro {
  background-color: #f9f9f9;
  background-image: url("../img/index-intro-background.jpg");
  background-size: 567px 373px;
  background-repeat: no-repeat;
  background-position: top -17px center;

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/index-intro-background-tablet.jpg");
    background-size: 1150px 746px;
    background-repeat: no-repeat;
    background-position: top -70px center;
  }
}

.intro::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-fill-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 34px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }
}

.intro__wrapper {
  padding: 0 30px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.intro__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  width: 260px;
  margin: 0 auto;
  padding: 73px 0 120px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 86px 0 372px;
    width: 668px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 94px 0 355px;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    justify-content: center;
  }
}

.intro__button {
  width: 100%;
  min-height: 103px;
  position: relative;
  padding: 24px 160px 30px 30px;
  background-color: #62d1bb;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 25px 167px 46px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 350px 51px 37px;
  }
}

.intro__button-text {
  display: block;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;


  @media (min-width: $tablet-width) {
    min-width: 131px;
    font-size: 20px;
    line-height: 30px;
  }
}

.intro__button--lamp::after {
  position: absolute;
  content: "";
  background-image: url("../img/lamp-icon.svg");
  width: 40px;
  height: 62px;
  top: 23px;
  right: 36px;

  @media (min-width: $tablet-width) {
    top: 30px;
  }
}

.intro__button--lego::after {
  position: absolute;
  content: "";
  background-image: url("../img/lego-icon.svg");
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;

  @media (min-width: $tablet-width) {
    top: 32px;
    right: 35px;
  }
}

.intro__button--secondary {
  background-color: #56c3b2;
}
