.main-header {
  display: block;
  margin: 0 auto;
  position: relative;
  @media (min-width: $tablet-width) {

    display: flex;
    background-color: #f9f9f9;
  }
}
.main-header::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 88px;
    background-color: #fff;
    top:0;
    left:0;
  }


}
.main-header__logo-link {
  display: block;
  width: max-content;
  margin: 22px auto;
  z-index: 3;
  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    top: 22px;
    left: 48px;
    z-index: 3;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    top: 9px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }
}

.main-header__logo {
  display: block;
  z-index: 2;
}
