.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.page__body {
  max-width: 767px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 1199px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1400px;
  }
}
