.primary-button {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
   border: 2px solid #444;
   background-color: transparent;
   color: #444;
}
