.product-card__list {
  margin: 0;
  padding: 0;
}
.product-card__item {
  list-style-type: none;
  margin-bottom: 30px;
  @media (min-width: 768px) {
      margin-bottom: 54px;
      display: grid;
      grid-template-columns: 334px 335px;
  }
}
.product-card__item:last-child {

  margin-bottom: 0;
}
.product-card__image {

  @media (min-width: 768px) {
      width: 334px;
      height: 50px;
      background-color: red;
      grid-column: 1/2;
      grid-row: 1/4;
  }
}
.product-card__inner-wrapper {
  padding: 27px;
  border: 1px solid #ececec;

}
.product-card__text-wrapper {
  margin-bottom: 17px;
  @media (min-width: 768px) {

      grid-column: 1/2;
      grid-row: 1/2;
  }

}
.product-card__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #000;

}
.product-card__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;

}
.product-card__price {
  margin: 0;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  border-top: 1px solid #ececec;
  @media (min-width: 768px) {

      grid-column: 2/3;
      grid-row: 3/4;
  }
}
.product-card__price-title {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
