.social {
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border: none;
  }
}

.social__link-wrapper {
  margin: 0 auto;
  display: flex;
  width: 142px;
  align-items: center;
  justify-content: space-between;
}

.social__link {
  display: block;
}

.social__icon {
  display: block;
}
