.sss {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
.type__title {
  margin-bottom: 30px;
}
.type__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.type__item {
  margin-bottom: 11px;

}
.type__item:last-child {
  margin-bottom: 30px;
}
.type__control {
  position: relative;
  display:block;
  padding-left: 60px;
  min-height: 42px;

}
.type__control-mark {
  box-sizing: border-box;
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid #444;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.type__control:hover .type__control-mark {
  border-color: #62D1BA;
}
.type__control:active .type__control-mark {
  border-color: rgba(0, 0, 0, 0.3);
}

.type__control-input:disabled + .type__control-mark {
  border-color: rgba(0, 0, 0, 0.3);
}
.type__control-input[type="radio"]:checked + .type__control-mark::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background-color: #62D1BA;
  border-radius: 50%;
  top:8px;
  left: 8px;
}
.type__control-label {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000;

}
