.user-contacts {
  @media (min-width: $tablet-width) {
    padding: 50px;
  }
}

.user-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-contacts__item {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {

    margin-bottom: 40px;
  }
}

.user-contacts__item:first-child {
  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }
}

.user-contacts__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.user-contacts__label {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.user-contacts__label-text {
  margin: 0;
  margin-bottom: 5px;
}
