.user-name__title {
  margin-bottom: 29px;
}
.user-name__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.user-name__item {
  margin-bottom: 22px;
}
.user-name__item:last-child {
  margin-bottom: 34px;
}
.user-name__user-name-title {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

