.user-name {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 50px;
    margin-bottom: 0;
  }
}


.user-name__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.user-name__item {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.user-name__item:last-child {
  margin-bottom: 0;
}

.user-name__user-name-title {
  display: block;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

.user-name__user-name-label {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: start;
  }
}

.user-name__user-name-input {
  font-family: "Open Sans", "Arial", sans-serif;
}
